/* Custom Stylesheet */

body {
    margin: 20px 80px;   
}

header h1 {
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}

#logo {
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 350px;
}
#update{
    width: 90px;
    height: 40px;
    display:block;
    float: right;
}   