<html>
<head>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript"
 src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css"
href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>

<script src="lib/jquery.sumoselect.min.js"></script>
<script src="lib/sjcl.js"></script>
<script src="js/sweet.js"></script>

<link rel="stylesheet" type="text/css"
href="lib/sumoselect.css"/>


<style>
#main {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
</style>

</head>

<button onclick="update()">Refresh</button><br>
View as<!--right side-->
<div id="viewer"></div>
<script id="permissionSelect" type="text/template">
<select class="view-select">
 <option value="patient">patient</option>
 <option value="physician">physician</option>
 <option value="research: Cardiac">research: Cardiac</option>
 <option value="research: Cancer">research: Cancer</option>
 <option value="research: Public Health">research: Public Health</option>
</select>
</script>

<div id="main">
<table id="patientTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Record Type</th>
                <th>Value</th>
                <th>Permissions</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Record Type</th>
                <th>Value</th>
                <th>Permissions</th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
</script>

</html>
