<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>
<script src="lib/jquery.sumoselect.min.js"></script>
<script src="lib/sjcl.js"></script>
<script src="js/sweet.js"></script>

<link rel="stylesheet" type="text/css" href="lib/sumoselect.css"/>
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:700italic' rel='stylesheet' type='text/css'>

<style>
#main {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
</style>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="Logo.png" id = "logo">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" >
        <li ><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Portal</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explore<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Research</a></li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Clinical Trials</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>

      </ul>
    </div>
  </div>
</nav>    
<div class="container">
  <div class="row">
    <div class="col-md-1">
        <button id="update" onclick="update()">Update</button>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-4">
        View as:
        <div id="viewer"></div>
    </div>

  </div>
</div>
<script id="permissionSelect" type="text/template">
<select class="view-select">
 <option value="patient">patient</option>
 <option value="physician">physician</option>
 <option value="research: Cancer">research: Cancer</option>
 <option value="research: Cardiac">research: Cardiac</option>
 <option value="research: Public Health">research: Public Health</option>
</select>
</script>

<div id="main">
<table id="patientTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Record Type</th>
                <th>Value</th>
                <th>Permissions</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Record Type</th>
                <th>Value</th>
                <th>Permissions</th>
            </tr>
        </tfoot>
    </table>
</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </body>
</html>
