<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" 
              href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>
        <script src="lib/jquery.sumoselect.min.js"></script>
        
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="lib/sumoselect.css"/>
        <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    
    <body>
        <!-- Dropdown Structure -->
        <ul id="dropdown_explore" class="dropdown-content">
            <li><a href="#!">Researchers</a></li>
            <li><a href="#!">Doctors</a></li>
            <li><a href="#!">Clinical Trials</a></li>
        </ul>
        <nav id="nav_item" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Boss Health</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown_explore">Explore<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        
        <main>
        View as<!--right side-->
        <script id="permissionSelect" type="text/template">
            <select class="view-select">
            <option value="patient">patient</option>
            <option value="physician">physician</option>
            <option value="research: Cardiac">research: Cardiac</option>
            <option value="research: Cancer">research: Cancer</option>
            <option value="research: Public Health">research: Public Health</option>
            </select>
        </script>
        <div id="viewer"></div>

            
        <div id="main">
            <table id="patientTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Record Type</th>
                    <th>Value</th>
                    <th>Permissions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Record Type</th>
                    <th>Value</th>
                    <th>Permissions</th>
                </tr>
            </tfoot>
        </table>
        </div>
    </main>
        
    <footer id = "footer_elem" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Boss Health</h5>
                <p class="grey-text text-lighten-4">Giving patients control!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact information</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Michael Norris</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Gaurav Luthria</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">© 2015 Copyright Text </div>
        </div>
    </footer>
        
<script>
var table;
$(document).ready(function() {
    $("#viewer").html($("#permissionSelect").html());

    $(".view-select").slice(0,1).change(function() {
        console.log("reload");
        table.ajax.reload();
    });
    table = $('#patientTable').DataTable( {
        "aaSorting": [],
        "fnDrawCallback": function( nRow, aData, iDataIndex ) {
            // Bold the grade for all 'A' grade browsers
            //if ( aData[4] == "A" )
            //{
                //$('td:eq(4)', nRow).html( '<b>A</b>' );
                $("#patientTable .view-select").attr("multiple", "multiple");//.SumoSelect();
                $("#patientTable .view-select").SumoSelect();
            //}
        },
        "ajax": "http://localhost:5000/get_patient",
        "columns": [
            { "data": "name" },
            { "render": function(data,type,row) { 
                var context = $(".view-select").slice(0,1).val();
                    var canAccess = false;
                    console.log(context);
                    for (var i = 0; i < row.access.length; ++i) {
                        console.log(row.access[i]);
                        if (row.access[i] === context) {
                            canAccess = true;
                        }
                    }
                    if (!canAccess) {
                        return "X";
                    }
                    //console.log(row); return "" + row;
                    if (row.type === 'text') {
                        return row.value;
                    } else if (row.type === 'img') {
                        return '<img src="data:image/png;base64,' + 
                        row.value + '" alt="IMG"/>';
                    } else {
                        return "INVALID RECORD TYPE";
                    }
                }
            },
            { "render": function(data, type, row) {
                //$("#
                //Decrypt record
                //var t = $($("#permissionSelect").html());
                //t.SumoSelect();
                //return t.html();
                return $("#permissionSelect").html();
                }
            },
        ]
    } );
} );

/**
 * In accordance with the people's keys this will encrypt the data once and
 * return a list of len(people) keys, one for each user.  The key is unlocked
 * by their using their private key.
 * msg = decrypt(msg, decrypt(key, private))
 */
function encrypt(data, people) {
    //data: the data that is encrypted
    //people: array containing the public keys of n people
    //returns: 
    var keys = [];
    //NOT SECURE :P
    var msg_key = "0";
    for (var i = 0; i < people.length; ++i) {
        keys.push(sjcl.encrypt(people[i], msg_key));
    }
    return {"data": sjcl.encrypt(msg_key, data),
            "keys": keys, "key": msg_key};
}

function update() {
    var i = 1;
    var rec = {id: '000'};
    records = [];
    table.data().each(function(value, row, column) {
        row = value;
        //who can access the data
        var accessors = $(".view-select").slice(i, i+1).val();
        row['access'] = accessors;
        var encrypted = encrypt(row['value'], accessors);
        var encryptedData = encrypted.data;
        var keys = encrypted.keys;
        row['keys'] = keys;
        row['encryptedData'] = encryptedData;
        row['key'] = encrypted.key;
        i += 1;
        records.push(row);
    });
    console.log(records);
}
</script>
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        <script type="text/javascript" src="../js/custom.js"></script>
</body>
</html>
